@model IQueryable<Moistmeter>

@{
    Layout = null;
}

<!DOCTYPE html>
<html class="page" lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial scale=1">
    <title>Метеостанция Меньково</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/favicon.ico">
</head>
<body>
    <div class="page__container">
        <header class="main-header">
            @await Html.PartialAsync("_Header")
        </header>
        <main class="main-info field-map">
            <h1 class="visually-hidden">Сайт метеостанции поля в Меньково</h1>
            <div class="field-map__map">
                <img class="main-header__fieldimg" src="/img/fieldmap.png" alt="День поля">
                <button class="field-map__sensor-button sensor1" value="First"></button>
                <button class="field-map__sensor-button sensor2" value="Second"></button>
                <button class="field-map__sensor-button sensor3" value="Third"></button>
                
                <div class="form__chart field-map__chart"></div>
                <div class="main-info table-wrapper"></div>

            </div>

        </main>
        <footer class="main-footer">
            @await Html.PartialAsync("_Footer")
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="_content/Blazor-ApexCharts/js/apex-charts.min.js"></script>
    <script src="/js/fieldmapchart.js" type="text/javascript"></script>
    <script>
        $(function () {
            var calendarButton = document.querySelector(".main-header__calendar");
            var calendarValue = calendarButton.value;

            function LoadTable(dateVal, sensorName) {
                $.ajax({
                    url: '@Url.Action("_GetMoistmeterTable")',
                    dataType: 'html',
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    data: {
                        date: dateVal,
                        sensorName: sensorName
                    },
                    success: function (data) {
                        $('.table-wrapper').html(data);
                    }
                });
            }

            LoadTable(calendarValue);

            $(".main-header__calendar").on("change", function () {
                calendarValue = calendarButton.value;
                LoadTable(calendarValue);
            });

            $(".field-map__sensor-button").on("click", function () {
                LoadTable(calendarValue, this.value);
            });
            
        });
    </script>
</body>
</html>
