<h1 class="visually-hidden">Контакты</h1>
<div class="main-footer__wrapper">
    <p class="main-footer__address">Поле Меньково blockhin@email.ru</p>
    <a asp-controller="Home" asp-action="Index">
        <img class="ari-logo" src="/img/agrophysLogo.png" alt="Логотип АФИ">
    </a>
    <p class="main-footer__about">Программа разработана в 170 отделе ФГБНУ АФИ</p>
</div>