<div class="main-header__top">
    @{
        //DateTime.Now.ToString("yyyy-MM-dd")
        var calendar = Html.TextBox("Name", "2023-09-06", new { @class = "main-header__calendar", @type = "date", @id = "calendar", @name = "calendarInput" });
    }
    @calendar
    <input class="main-header__button sample-button" type="submit" onclick="location.href='@Url.Action("Index", "Home")'" value="Главная" />
    @* <input class="main-header__calendar" type="date" id="calendar" name="calendarInput" value="2023-10-27"> *@
    <input class="main-header__button sample-button" type="submit" onclick="location.href='@Url.Action("Index", "FieldMap")'" value="Датчики" />
    <img class="ari-logo" src="/img/agrophysLogo.png" alt="Логотип АФИ">
    @if (!User.Identity.IsAuthenticated)
    {
        <a class="main-header__auth sample-button" asp-controller="Account" asp-action="Register">Регистрация</a>
        <a class="main-header__auth sample-button" asp-controller="Account" asp-action="Login">Войти</a>
    }
    @if (User.Identity.IsAuthenticated)
    {
        <form method="post" asp-controller="Account" asp-action="Logout">
            <input class="sample-button" type="submit" value="Выход" />
        </form>
    }
</div>
<img class="main-header__fieldimg" src="/img/dayOfTheField.png" alt="День поля">
