<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Account</title>
    <meta name="viewport" content="with-device-width" />
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    @RenderBody()
</body>
</html>
