<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Account</title>
    <meta name="viewport" content="with-device-width" />
    <link href ="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body class="m-1 p-1">
    @RenderBody()
</body>
</html>
