<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @* <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" /> *@
    <link rel="stylesheet" href="/css/style.css">
    <script src="_content/Blazor-ApexCharts/js/apex-charts.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body class="page__body">
    @RenderBody()
    <script src="/js/mobileheadermenu.js" type="text/javascript"></script>
</body>
</html>
