html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 12px;
    background-color: white;
    margin-bottom: 60px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page__container {
    margin: 0 auto;
    width: 320px;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
    box-sizing: border-box;
}

.info-header {
    text-align: center;
    margin: 20px 10px;
}

.main-header__top {
    z-index: 1000;
    top: 0;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #1F9B00;
    width: 320px;
    line-height: 46px;
}

.main-header__calendar {
    margin: 5px;
    color: green;
    font-weight: bold;
    border: 1px solid DarkGreen;
}

.main-header__calendar:hover {
    background-color: AliceBlue;
}

.main-header__auth {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.sample-button {
    display: inline-block;
    margin: 5px;
    padding: 0;
    color: white;
    background-color: green;
    border: 1px solid DarkGreen;
    font-weight: bold;
    width: 85px;
    height: 46px;
    cursor: pointer;
}

.sample-button:hover {
    background-color: #20AB00;
}

.sample-button:active {
    border: 2px solid DarkGreen;
    /*margin: -1px;*/
}

.main-header__auth:active {
    width: 83px;
    height: 44px;
}

.form__chart {
    width: 285px;
    margin: 35px auto;
}

.form__legend {
    margin: 0 auto;
}

.main-header__fieldimg {
    width: 320px;
}

.form__choice-wrapper {
    display: flex;
    justify-content: space-around;
}

.form {
    font-size: 16px;
    margin-top: 20px;
    border: 5px inset lightblue;
}

.form__radio-wrapper {
    display: flex;
    align-items: center;
}

.form__radio {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-right: 10px;
}

.form__choice-description {
    margin: 0 auto;
}

.table-wrapper__table {
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 20px;
}

.table-wrapper__table th {
    font-size: 10px;
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}

.table-wrapper__table td {
    font-size: 12px;
    text-align: center;
    border: 1px solid #dddddd;
    padding: 5px;
}

.field-map__map {
    position: relative;
}

.field-map__sensor-button {
    width: 12px;
    height: 12px;
}

.sensor1 {
    position: absolute;
    top: 35px;
    left: 235px;
}

.sensor2 {
    position: absolute;
    top: 70px;
    left: 235px;
}

.sensor3 {
    position: absolute;
    top: 50px;
    left: 195px;
}

.field-map__chart {
    margin: 0 auto;
    height: 100px;
}

.main-footer__wrapper {
    color: white;
    background-color: #1F9B00;
    display: flex;
    justify-content: space-between;
    padding: 0 3px;
}

.main-footer__address {
    display: block;
    width: 112px;
}

.main-footer__about {
    display: block;
    width: 155px;
}

.ari-logo {
    width: 68px;
    height: 58px;
    margin: 0;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    .page__container {
        width: 768px;
    }
    .main-header__top {
        width: 768px;
    }
    .main-header__fieldimg {
        width: 768px;
    }
    .form__chart {
        width: 600px;
        height: 300px;
    }
    .table-wrapper__table {
        margin: 0 auto;
        margin-top: 20px;
    }
    .table-wrapper__table th {
    font-size: 16px;
    }

    .table-wrapper__table td {
    font-size: 18px;
    }
    .sensor1 {
        top: 90px;
        left: 585px;
    }

    .sensor2 {
        top: 170px;
        left: 585px;
    }

    .sensor3 {
        top: 135px;
        left: 495px;
    }
}

@media (min-width: 1200px) {
    .page__container {
        width: 1200px;
    }
    .main-header__top {
        width: 1200px;
    }
    .main-header__fieldimg {
        width: 1200px;
    }

    .chart-area {
        display: flex;
        flex-wrap: wrap
    }

    .chart-area__concrete {
        width: 600px;
    }

    .form__chart {
        width: 500px;
    }
    .sensor1 {
        top: 130px;
        left: 940px;
    }

    .sensor2 {
        top: 270px;
        left: 940px;
    }

    .sensor3 {
        top: 205px;
        left: 755px;
    }
}

