html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 12px;
    background-color: white;
    /*margin-bottom: 60px;*/
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page__container {
    margin: 0 auto;
    width: 320px;
    background: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
    box-sizing: border-box;
}

.info-header {
    text-align: center;
    margin: 20px 10px;
}

.main-header__top__toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 70px;
    height: 58px;
    background-color: green;
    border: 1px solid DarkGreen;
    cursor: pointer;
    border: none;
}

.main-header__top__toggle:hover,
.main-header__top__toggle:active {
    background-color: #20AB00;
}

.main-header__top--closed .main-header__top__toggle::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 17px;
    width: 36px;
    height: 2px;
    background-color: #ffffff;
    box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}

.main-header__top--closed .main-header__top__toggle:active::before {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}

.main-header__top--opened .main-header__top__toggle {
  top: 0;
  right: auto;
  left: 250px;
}

.main-header__top--opened .main-header__top__toggle::before,
.main-header__top--opened .main-header__top__toggle::after {
  content: "";
  position: absolute;
  top: 28px;
  left: 18px;
  width: 36px;
  height: 2px;
  background-color: #ffffff;
}
.main-header__top--opened .main-header__top__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-header__top--opened .main-header__top__toggle::after {
  transform: rotate(-45deg);
}
.main-header__top--opened .main-header__top__toggle:active::before,
.main-header__top--opened .main-header__top__toggle:active::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-header__top {
    z-index: 100;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1F9B00;
    width: 320px;
    min-height: 58px;
}

@media (max-width: 767px)
{
    .main-header__top--closed .site-list__item {
        display: none;
    }
    
    .main-header__top--closed .user-list__item {
        display: none;
    }
    .main-header__top--closed .main-header__calendar {
        display: block;
    }
    .main-header__top--nojs {
        position: relative;
    }
    .main-header__top--nojs .main-header__top__toggle {
        display: none;
    }
}

.main-header__calendar {
    margin: 5px;
    width: 97px;
    height: 46px;
    color: green;
    font-weight: bold;
    border: 1px solid DarkGreen;
    cursor: pointer;
}

.main-header__calendar:hover {
    background-color: AliceBlue;
}

.sample-button {
    display: inline-block;
    margin: 5px;
    padding: 0;
    color: white;
    background-color: green;
    border: 1px solid DarkGreen;
    font-weight: bold;
    width: 100px;
    height: 46px;
    cursor: pointer;
}

.main-header__button {
    width: 310px;
}

.sample-button:hover {
    background-color: #20AB00;
}

.sample-button:active {
    border: 2px solid DarkGreen;
    /*margin: -1px;*/
}

.main-header__user-greeteng {
    margin: 5px;
    padding: 0;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 46px;
    font-weight: bold;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__chart {
    width: 285px;
    margin: 35px auto;
}

.form__legend {
    margin: 0 auto;
}

.main-header__fieldimg {
    margin-top: 50px;
    width: 320px;
}

.form__choice-wrapper {
    display: flex;
    justify-content: space-around;
}

.form {
    font-size: 16px;
    margin-top: 20px;
    border: 5px inset lightblue;
}

.form__radio-wrapper {
    display: flex;
    align-items: center;
}

.form__radio {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    margin-right: 10px;
}

.form__choice-description {
    margin: 0 auto;
}

.download-data-button {
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
}

.table-wrapper {
    margin: 30px 0;
}

.table-wrapper th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}

.table-wrapper td {
    text-align: center;
    border: 1px solid #dddddd;
    padding: 5px;
}

.main-header__fieldsensorimg-wrapper {
    width: 280px;
    height: 155px;
}

.main-header__fieldsensorimg {
    max-width: 100%;
    height: auto;
}

.field-map__sensor-button {
    width: 12px;
    height: 12px;
}

.sensor1 {
    position: absolute;
    top: 35px;
    left: 235px;
}

.sensor2 {
    position: absolute;
    top: 70px;
    left: 235px;
}

.sensor3 {
    position: absolute;
    top: 50px;
    left: 195px;
}

.field-map__chart {
    margin: 0 auto;
    height: 100px;
}

.main-footer__wrapper {
    color: white;
    background-color: #1F9B00;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    height: 58px;
}

.main-footer__address {
    display: block;
    width: 155px;
}

.main-footer__about {
    text-align: right;
    display: block;
    width: 155px;
}

.ari-logo {
    width: 68px;
    height: 58px;
    margin: 0;
}

.ari-logo-link {
    height: 58px;
}

.auth-page__container {
    margin: 0 auto;
    width: 320px;
}

.auth-page__header {
    font-size: 18px;
    font-weight: 300;
}

.auth-title__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form {
    border: 1px solid DarkGray;
    background-color: WhiteSmoke;
}

.auth-form__inland-wrapper {
    padding: 20px 0;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.auth-input {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    padding: 5px;
}

.auth-button {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    height: 30px;
    display: inline-block;
    color: white;
    background-color: green;
    border: 1px solid DarkGreen;
    font-weight: bold;
    cursor: pointer;
}

.auth-button:hover {
    background-color: #20AB00;
}

.auth-button:active {
    border: 2px solid DarkGreen;
    /*margin: -1px;*/
}

.auth-link:hover,
.auth-link:visited,
.auth-link {
    color: black;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    .page__container {
        width: 768px;
    }
    .main-header__top__toggle {
        display: none;
    }
    .sample-button {
        width: 100px;
    }
    .main-header__top {
        width: 768px;
        flex-direction: row;
    }
    .main-header__fieldimg {
        width: 768px;
    }
    .table-wrapper th {
        font-size: 24px;
    }
    .table-wrapper td {
        font-size: 22px;
    }
    .form__chart {
    width: 600px;
    height: 300px;
    }
    .main-header__fieldsensorimg-wrapper {
        width: 748px;
        height: 413px;
    }
    .sensor1 {
        top: 90px;
        left: 585px;
    }

    .sensor2 {
        top: 170px;
        left: 585px;
    }

    .sensor3 {
        top: 135px;
        left: 495px;
    }
}

@media (min-width: 1200px) {
    .page__container {
        width: 1200px;
    }
    .main-header__top {
        width: 1200px;
    }
    .main-header__fieldimg {
        width: 1200px;
    }

    .chart-area {
        display: flex;
        flex-wrap: wrap
    }

    .chart-area__concrete {
        width: 600px;
    }

    .form__chart {
        width: 500px;
    }
    .main-header__fieldsensorimg-wrapper {
        width: 900px;
        height: 498px;
    }
    .sensor1 {
        top: 130px;
        left: 940px;
    }

    .sensor2 {
        top: 270px;
        left: 940px;
    }

    .sensor3 {
        top: 205px;
        left: 755px;
    }
}

