@model ServerMVC.Models.RegisterViewModel

@{
    Layout = "_Layout";
}

<div class="auth-page__container">
    <div class="auth-title__wrapper">
        <a asp-controller="Home" asp-action="Index">
            <img class="ari-logo" src="/img/agrophysLogo.png" alt="Логотип АФИ">
        </a>
        <h3 class="auth-page__header">Регистрация</h3>
    </div>
    <form class="auth-form" asp-controller="Account" asp-action="Register">
        <div class="auth-form__inland-wrapper" asp-validation-summary="All">
            <input class="auth-input" asp-for="Name" placeholder="Имя" type="text">
            <input class="auth-input" autocomplete="new-password" asp-for="Password" placeholder="Пароль" type="password">
            @* <span>Пароль должен бытьдлиной больше 6символов  и   иметь только латинские символы</span> *@
            <input class="auth-input" autocomplete="new-password" asp-for="PasswordConfirm" placeholder="Подтвердите пароль" type="password">
            <button class="auth-button" type="submit">Зарегестрироваться</button>
            <a class="auth-link" asp-controller="Account" asp-action="Login" type="button">Вход</a>
        </div>
    </form>
</div>
