@{
    Layout = null;
}

<!DOCTYPE html>
<html class="page" lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial scale=1">
    <title>Метеостанция Меньково</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/favicon.ico">
</head>
<body>
    <div class="page__container">
        <header class="main-header">
            <div class="main-header__top">
                <input type="submit" onclick="location.href='@Url.Action("Index", "Home")'" value="Главная" />
                <img src="/img/agrophysLogo.png" alt="Логотип АФИ">
                <input type="submit" onclick="location.href='@Url.Action("FieldMap", "Home")'" value="Датчики" />
                <button id="ID">Войти</button>
            </div>
            <img class="main-header__fieldimg" src="/img/dayOfTheField.png" alt="День поля">
        </header>
        <main class="main-info field-map">
            <h1 class="visually-hidden">Сайт метеостанции поля в Меньково</h1>
            <div class="field-map__map">
                <img class="main-header__fieldimg" src="/img/fieldmap.png" alt="День поля">
                <button class="field-map__sensor-button sensor1"></button>
                <button class="field-map__sensor-button sensor2"></button>
                <button class="field-map__sensor-button sensor3"></button>
                <table class="table-wrapper__table">
                    <thead>
                        <tr><th>дата</th><th>1 канал</th><th>2 канал</th><th>3 канал</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>10.10.2023</td>
                            <td>10</td>
                            <td>10</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>11.10.2023</td>
                            <td>20</td>
                            <td>20</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>12.10.2023</td>
                            <td>30</td>
                            <td>30</td>
                            <td>30</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="field-map__chart">

            </div>
        </main>
        <footer class="main-footer">
            <h1 class="visually-hidden">Контакты</h1>
            <div class="main-footer__wrapper">
                <p class="main-footer__address">Поле Меньково blockhin@email.ru</p>
                <p class="main-footer__about">Программа разработана в 170 отделе ФГБНУ АФИ</p>
                <img class="main-footer__logo" src="/img/agrophysLogo.png" alt="Логотип АФИ">
            </div>
        </footer>
    </div>
</body>
</html>
